*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, sans-serif;
}

nav {
  display: flex;
  gap: 16px;
  padding: 16px;
}

a {
  text-decoration: none;
}
