@import "../styles/variables.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: neue-haas-grotesk-text, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  gap: 20px;
  padding: 20px;
  height: 100dvh;
  color: var(--cav-color-content-primary);
  background-color: var(--cav-color-background-base);
  font-size: 16px;
  line-height: 24px;
}

h1 {
  font-family: neue-haas-grotesk-display, system-ui, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  font-size: 88px;
  line-height: 72px;
  letter-spacing: -6%;
}

h2 {
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.64px;
}

a {
  color: var(--cav-color-content-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
}

.disabled {
  color: var(--cav-color-content-disabled);
  cursor: not-allowed;
}

.disabled:hover {
  text-decoration: none;
}
