.hero-section {
  height: 100%;
  border-radius: 16px;
  background: var(--cav-color-surface);
  background-image: radial-gradient(#ffffff20 1px, transparent 0);
  background-size: 16px 16px;
  background-position: -7px -7px;
}

@media only screen and (max-width: 1312px) {
  .hero-section {
    grid-column: span 12;
  }
}
