---
const currentYear = new Date().getFullYear();
---

<footer>
  &copy; {currentYear} Clear as vodka
  <ul>
    <li><a href="https://github.com/clearasvodka" target="_blank">Gh</a></li>
    <li>
      <a href="https://www.linkedin.com/in/rost-oso" target="_blank">Li</a>
    </li>
    <li><a href="https://dribbble.com/emelman" target="_blank">Db</a></li>
    <li>
      <a href="https://www.instagram.com/clearasvodka" target="_blank">Ig</a>
    </li>
  </ul>
</footer>

<style>
  footer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  footer ul {
    display: flex;
    gap: 20px;
  }
</style>
