.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 32px;
  background-color: #000000;
  
}

nav {
  font-family: ocr-a-std, monospace;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
