---
import MainLayout from "../layouts/MainLayout.astro";
import styles from "../styles/index.module.css";
import HeroContainer from "../components/HeroContainer.astro";
const pageTitle = "Home";
---

<MainLayout pageTitle={pageTitle}>
  <div class={styles["hero-section"]}>
    <HeroContainer />
  </div>
</MainLayout>
