@import url(https://use.typekit.net/xka3aqi.css);

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--cav-color-background);
  color: var(--cav-color-text-primary);
}

main {
  display: grid;
  padding: 0 20px;
  grid-template-columns: auto repeat(12, 64px) auto;
  column-gap: 24px;
  grid-auto-rows: min-content;
  row-gap: 40px;
}

h1 {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-size: 96px;
  line-height: 96px;
  font-weight: 500;
  letter-spacing: -4px;
}

h2 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
  letter-spacing: -1.2px;
}

h4 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: -0.8px;
}

h6 {
  font-size: 10px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2.4px;
}

p {
  font-size: 16px;
  line-height: 24px;
}

li {
  list-style-type: none;
}

.header {
  display: grid;
  grid-template-rows: auto;
  row-gap: 8px;
  margin-bottom: 48px;
}

@media only screen and (max-width: 1120px) {
  main {
    grid-template-columns: repeat(12, 1fr);
  }
}

@media only screen and (max-width: 480px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
  h1 {
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 300;
    letter-spacing: -2.4px;
  }
}
