@import url(https://use.typekit.net/wpf4tgj.css);

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: neue-haas-grotesk-text, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 64px;
  font-weight: 500;
  letter-spacing: -4px;
  color: #161616;
}

.bookshell {
  margin: auto;
  display: grid;
  row-gap: 2px;
}

.book {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
