@import url(https://use.typekit.net/wpf4tgj.css);

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: grid;
  padding: 0 24px;
  grid-template-columns: auto repeat(12, 48px) auto;
  column-gap: 24px;
}

:root {
  font-family: neue-haas-grotesk-text, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1 {
  font-size: 80px;
  line-height: 96px;
  font-weight: 400;
  letter-spacing: -4px;
  color: #161616;
}

h2 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
  letter-spacing: -0.4px;
}

h6 {
  font-size: 10px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2.4px;
}

p {
  font-size: 16px;
  line-height: 24px;
}

.mono {
  font-family: monospace;
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;
  writing-mode: vertical-rl;
  text-align: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}

li {
  list-style-type: none;
  font-size: 16px;
  line-height: 24px;
  padding: 20px 0;
}

header {
  width: 100%;
  position: sticky;
  top: 0;
  backdrop-filter: saturate(1.8) blur(16px);
  background-color: rgba(255, 255, 255, 0.32);
}

footer {
  display: flex;
  height: 48px;
  border-top: 1px solid #f2f2f2;
  align-items: center;
  justify-content: center;
}
