.info-container {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 2/14;
  row-gap: 32px;
}

.content-section {
  grid-column: span 12;
  display: grid;
  grid-template-columns: subgrid;
}

.section-title {
  grid-column: span 6;
}

.content-items {
  grid-column: span 6;
}

.title-block {
  display: inline-flex;
  gap: 12px;
  align-items: center;
}

.title-icon {
  display: none;
}

.content-section:hover .title-icon {
  display: block;
}

.link-large {
  text-decoration: none;
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: -0.8px;
  color: #161616;
}

.link-large:hover {
  color: #f05523;
}

@media only screen and (max-width: 480px) {
  .info-container {
    grid-column: 1/-1;
  }

  .content-section {
    grid-column: span 2;
  }
}
