.bookshelf {
  display: grid;
  grid-gap: 2px;
  grid-template-rows: auto;
}

.book {
  background-color: rgb(255, 81, 0);
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  min-height: 48px;
  place-items: center;
  border-radius: 2px;
}

.book-author {
  min-width: 100px;
  font-size: 12px;
  line-height: 16px;
}

.book-category {
  background-color: #161616;
  color: #ffffff;
  writing-mode: vertical-rl;
  padding: 8px 2px;
  height: 100%;
  text-align: center;
  margin-right: 8px;
}

.book-id {
  padding: 8px;
}

.book-author ul {
  padding: 8px;
}

.book-title {
  padding: 8px;
}
