.nav-container {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.nav-item {
  list-style-type: none;
  font-size: 16px;
  line-height: 24px;
  padding: 20px 0;
}

.nav-link {
  text-decoration: none;
  color: #161616;
}

.nav-link:hover {
  color: #f05a14;
}
