header {
  width: 100vw;
  position: sticky;
  top: 0;
  backdrop-filter: saturate(1.8) blur(16px);
  background-color: rgba(255, 255, 255, 0.32);
  z-index: 800;
}

.nav-container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.nav-item {
  list-style-type: none;
  font-size: 16px;
  line-height: 24px;
  padding: 20px 0;
}

.nav-link {
  text-decoration: none;
  color: #161616;
}

.nav-link:hover {
  color: #f05a14;
}
