---

---

<div class="hero-block">
  <h1 class="hero-title">Clear<br />as<br />vodka</h1>
  <p>Solve et Coagula</p>
</div>

<style>
  .hero-block {
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .hero-title {
    font-family: neue-haas-grotesk-display, system-ui, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    font-size: 88px;
    line-height: 72px;
    letter-spacing: -4%;
  }
  .hero-block p {
    text-transform: uppercase;
    letter-spacing: 24%;
  }
</style>
