---
import IconCav from "./icons/IconCav.astro";
---

<nav>
  <a href="/"><IconCav class="nav-logo" /></a>
  <ul>
    <li><a href="/journal">Journal</a></li>
    <li>
      <a href="https://sketch.clearasvodka.com" target="_blank">Sketchbook</a>
    </li>
  </ul>

  <style>
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
    }

    nav ul {
      display: flex;
      gap: 20px;
    }

    .nav-logo {
      display: block;
      color: var(--cav-color-content-primary);
      width: 40px;
      height: 40px;
    }
  </style>
</nav>
